nav#top_bar > * {
    transition: .2s all;
}

nav#top_bar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    width: calc(100% - 30px);
    height: 64px;
    min-height: 64px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.04);
    transition: .2s all;
    margin: 12px 0px 0px 16px;
    background: linear-gradient(106deg, rgb(71 36 164) 0%, rgb(102 58 193) 51%, rgb(139 33 202) 100%);

    border-radius: 10px;
    @apply
    /* bg-card-dark */
    text-white
    /* dark:bg-card-dark */
    dark:text-slate-100
}

ul#ul_module_sections {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 5px;
}

ul#ul_module_sections > li > a{
    transition: .2s all;
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 14px;
}

ul#ul_module_sections > li > a:hover {
    background-color: #ffffff0f;
}

ul#ul_module_sections > li > a.active {
    background-color: #ffffff1f;
    /* box-shadow: inset 0px 0px 10px -4px rgb(7 0 59 / 11%); */
    color: white;
    font-weight: 500;

    /* @apply 
    dark:bg-[#ffffff08] */
}


@media (max-width: 800px) {
    nav#top_bar {
        margin: 0px;
        border-radius: 0px;
        width: 101%;
    }
}