article.card {
    border-radius: 0.625rem;
    padding: 22px 30px;
    margin-bottom: 19px;
    @apply
    shadow-[0px_0px_20px_0px_rgba(76,87,125,0.04)]
    bg-card-light
    dark:bg-card-soft-dark
    dark:text-[#ececec]
}