:root {
  --loading-grey: #bfbfbf;
}


.loading .image,
.loading p,
.loading .description {
  background-color: var(--loading-grey);

  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, 0) 60%
  ) var(--loading-grey);

  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loading p {
  min-height: 1.05rem;
  border-radius: 4px;
  animation-delay: .05s;
  margin-bottom: 8px;
}

.loading .description {
  min-height: 4rem;
  border-radius: 4px;
  animation-delay: .06s;
}