@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-gradient: -webkit-linear-gradient(45deg, #af7cff, #4332c7);
}


* {
  scroll-behavior: smooth;
}


body {
  @apply 
    bg-slate-100 
    text-slate-900 
    
    dark:bg-slate-950 
    dark:text-slate-100 
    
    transition-colors duration-200;
}


div.card {
  @apply
    bg-slate-100 
    
    dark:bg-slate-950 
}
div.form-group {
  border-color: red;
  @apply
    pt-6 
    w-full     
}


input {
  width: 100%;
  padding: 8px 14px;
  height: 42px;
  @apply 
    rounded
    border
    border-slate-300
    dark:border-none
    dark:bg-[#1d2840]
}
input.input_lg {
  height: 48px;
  @apply
    px-4
    py-3 
}


label {
  @apply
    block
    text-left
    mb-[4px]
}


button {
  transition: .2s all;
  padding: 6px 12px;
  height: 42px;
  @apply
    whitespace-nowrap
    rounded 
}
button.button_lg {
  height: 48px;
  @apply
    py-3
    px-4 
}
button.primary {
  @apply 
    bg-violet-500
    text-zinc-50
    hover:bg-violet-600
}
button.secondary {
  @apply 
  border
  border-zinc-200
  dark:border-none
  bg-zinc-100 
  text-zinc-800
  hover:bg-zinc-200
}


a.primary {
  color: #8b5cf6;
}
a.primary:hover {
  text-decoration: underline;
}


.text-brand {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}