/*/////////////////// CSS DA SIDEBAR PADRÃO //////////////////////*/

nav#side_bar {
    background-color:#020617f7;
    /* height: 100%; */
    /* height: calc(100% - 8px); */
    width: 290px;
    color: white;
    transition: .3s all;
    /* border-radius: 0 8px 8px 0; */
    /* border-radius: 10px; */
    margin: 4px;
    box-shadow: 0px 0px 12px #00000063;
    z-index: 1;
    @apply
    h-[calc(100%-12px)]
    m-[6px]
    rounded-[10px]

    dark:m-0
    dark:rounded-none
    dark:h-full
    dark:bg-card-dark;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 18px;
    @apply
    h-[66px]
    dark:h-[70px]
}

.icon_case {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 30px;
    min-width: 30px;
    background: #ffffff12;
    border-radius: 5px;
}

ul#ul_modules {
    margin: 10px 18px;
    @apply
    text-[14px]
}

ul#ul_modules > li {
    border-radius: 5px;
    @apply
    text-gray-300
}

ul#ul_modules > li:hover {
    background: #ffffff12;
}
    
ul#ul_modules > li.active {
    background: linear-gradient(106deg, rgb(46 12 136) 0%, rgb(64 22 151) 51%, rgba(92,0,147,1) 100%);
    color: white;
    box-shadow: 0px 2px 12px #454eff21;
}

ul#ul_modules > li > a {
    @apply
    px-3
    py-2
    flex
    gap-2
    mb-2
}

svg.nav_icon {
    @apply
    mt-[0px]
    w-5
    h-5
}

.nav_text {
    white-space: nowrap;
    margin-left:2px;
}

/* APLICANDO EFEITO DE TRANSIÇÃO NOS ELEMENTOS FILHOS */
nav#side_bar:has(button.compactedSideBar) > header > h1 {transition: .2s all;}
nav#side_bar > ul {transition: .2s all;}
nav#side_bar > ul > li > a {transition: .2s all;}
nav#side_bar > ul > li > a > span.nav_text {transition: .2s all;}


/*/////////////////// CSS DA SIDEBAR COMPACTADA //////////////////////*/
nav#side_bar:has(button.compactedSideBar) .header_group {
    opacity: 0;
}

nav#side_bar:has(button.compactedSideBar) > header > h1 {
    /* padding-left: 40px; */
    width: 0px;
    opacity: 0;
}
nav#side_bar:has(button.compactedSideBar) > header > .icon_case {
    width: 0px;
    opacity: 0;
}

nav#side_bar:has(button.compactedSideBar) {
    width: 70px;
}
nav#side_bar:has(button.compactedSideBar) > ul {
    margin: 10px;
}
nav#side_bar:has(button.compactedSideBar) > ul > li > a {
    padding: 10px 0px 10px 16px;
    gap: 0px;
}
nav#side_bar:has(button.compactedSideBar) > ul > li > a > span.nav_text {
    width: 0px;
    opacity: 0;
}






/*/////////////////// CSS DA SIDEBAR ESCONDIDA //////////////////////*/

nav#side_bar:has(button.hiddenSideBar) {
    display: none;
}